<!-- ==================================================================================

	Informatikbegriffsnetz

	.\style.css

	Historie:
	
	08.03.14 (hb)	Listen-Formatierung (ul, li) ergaenzt

=================================================================================== -->

ul {  margin-top:0cm; margin-bottom:0cm}
li {  font-family: Arial, Helvetica, sans-serif; font-size: 14px}
p  {  font-family: Arial, Helvetica, sans-serif; font-size: 14px}
.p {  font-family: Arial, Helvetica, sans-serif; font-size: 14px}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 16px}
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px}
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #000000}
.klein {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000}
.header {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold}
A  { text-decoration : none; color: #0066FF}
A:Visited  { text-decoration : none; color: #0066FF}
A:Active  {text-decoration : none; color: #336633}
A:Hover  {text-decoration : none;}
